@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

nav {
  background-color: rgb(53, 53, 53);
  color: rgb(163, 163, 163);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-weight: 800;
}
nav ul {
  list-style: none;
}
html { 
  background: url("Triple Black (8K).png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-image: url("Triple Black (8K).png");
  background-size: 200%; */
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
}

.xo{
  color: rgb(170, 170, 170);
}

.line{
    background-color: rgb(166, 166, 166);
    height: 3px;
    width: 0%;
    position: absolute;
    transition: 500ms ease-in-out;
}

.main {
  padding: 5vw;
  display: flex;
  justify-content: center;
}
.container {
  border: 2px solid rgb(78, 78, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: 600;
}
.gameinfo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0vw 6vw;
  color: rgb(177, 177, 177);
}
.container:hover {
  background-color: rgb(124, 124, 124);
  opacity: 0.5;
  cursor: pointer;
}
.gameinfo button {
  border-radius: 10px;
  border: 3px solid rgb(66, 66, 66);
  background-color: rgb(106, 106, 106);
  padding: 8px 20px;
  margin: 2vw 0vw;
  width: 100px;
  cursor: pointer;
}

.up {
  border-top: 0px;
}

.headd {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3vw;
}

.down {
  border-bottom: 0px;
}

.left {
  border-left: 0px;
}

.right {
  border-right: 0px;
}

img {
  margin: 3vw 0vw;
  width: 0px;
  transition: 500ms ease-in-out;
}
@media screen and (max-width: 850px) {
    .main {
      flex-wrap: wrap;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 15vw);
      grid-template-rows: repeat(3, 15vw);
      margin-bottom: 10vw;
    }
    .container{
        font-size: 10vw;
    }
  }
@media screen and (max-width: 600px) {
  .main {
    flex-wrap: wrap;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
    margin-bottom: 20vw;
  }
  .container{
      font-size: 20vw;
  }
}
